

#branding{
    text-align: center;
    font-size: 38px;
    color: var(--cloudBurst);
    font-family:cursive;
}

#buttons{
    text-align: right;
    text-transform: uppercase;
    color: var(--satinLinen);
    padding: 3px;
    margin-right: 2px;
    border-radius: 3px;
    border-style: solid;
    background-color: var(--stormGray);
    text-decoration: none;

}

.jumbotron{
    text-align: center;
    background: "../../assets/images/self/jennifer-Schlierman-logo3.png";
}