

#brand{
    text-align: left;
    font-size: 38px;
    color: var(--cloudBurst);
    font-family:cursive;
}

.mr-auto{
    text-align: right;
    font-size: 20px;
    color: var(--cloudBurst);
    text-transform: uppercase;
    /* list-style-type: none; */
    /* text-decoration: none; */
    
  
}

