

#branding{
    text-align: center;
    font-size: 38px;
    color: var(--cloudBurst);
    font-family:cursive;
    
}


.jumbotron{
    text-align: center;
    background: "../../assets/images/self/jennifer-Schlierman-logo3.png";
}

.navigation{
    width: 85%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: var(--satinLinen);
    
}