
body{
  background-color:var(--cloudBurst);
  font-family: helvetica, Arial, Sans-serif;
}

header {
  padding: 20px 35px;
  background-color:var(--rockBlue);
  display: flex;
  margin: 2em 0  2em 0;
  border-radius: 15px;
  border: 5px var(--satinLinen) solid;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px 2px var(--satinLinen);

 
  top: 0;

}


footer {
  padding: 20px 35px;
  background-color: var(--rockBlue);
  display: flex;
  margin: 20px;
  border-radius: 15px;
  border: 5px var(--satinLinen) solid;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 10px 0 var(--satinLinen);
}

.contact-container{
  display: grid;
  grid-template-columns: repeat(2);
  grid-gap: 10px;

}






.menu-text{
list-style-type: none;
color: var(--satinLinen);
}


.grid-x{

  text-align: center;
}




