:root {
  --satinLinen: #ececdc;
  --rockBlue:#a0b3c7;
  --stormGray:#6f718f;
  --medPurple: #7367e6;
  --cloudBurst:#222d58;
}


* {
  box-sizing: border-box;
  text-decoration: none;
}

a {
	border-radius: 5px;
	color: var(--satinLinen);
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
	
}

a:hover {
  text-decoration: underline;
}

